language: python
python:
  - '3.7'
  - '3.8'

install:
  - pip install numpy
  - pip install matplotlib
  - pip install pytest pytest-cov

script:
  - python ./travelplanner/travelplanner.py
  - pytest --cov=./
